button {
  padding: 10px 20px;
  font-size: 50px;
  font-family: sans-serif;
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
}
button:hover {
  background-color: #eee;
}
.square {
  position: fixed;
  width: 100px;
  height: 100px;    
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  background-color: #000;
  transition: .5s;
}
  